.group-section {
  padding-bottom: 50px;
}

.indexes-title {
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  text-align: center;
  margin-bottom: 60px;
}

.indexesGroup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: start;
  justify-items: center;
  gap: 10px;
  padding-bottom: 40px;
}

.index-type {
  font-family: Inter;
  font-size: 24px;
  justify-self: start;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.02em;
  margin: 0 0 16px;
}

.index-group {
  margin: 0 auto;
}

@media (max-width: 1300px){
  .indexesGroup {
    grid-template-columns: repeat(3, 1fr);
  }

  .empty-grid-el:nth-child(2) {
    display: none;
  }
}

@media (max-width: 961px){
  .indexesGroup {
    grid-template-columns: repeat(2, 1fr);
  }

  .empty-grid-el:nth-child(3){
    display: none;
  }
}

@media (max-width: 640px){
  .indexesGroup {
    grid-template-columns: 1fr;
  }

  .empty-grid-el {
    display: none;
  }
}
