@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Playfair+Display:wght@400;600&family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.App {
  background-color: #E5E5E5;
  min-height: 100vh;
}

.container {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.logotype {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
}

.logotype:hover {
  color: rgb(163, 78, 78);
}

.connect-wallet-btn {
  font-size: 16px;
  padding: 7px 21px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.connect-wallet-btn:hover {
  background-color: #dfcdcd;
}

